body {
  background-color: #002;
  color: #eee;
  font-family: monospace;
  margin: 100px;
  font-family: "Major Mono Display", monospace;
}

h1, h2, h3 {
  color: #00e;
}

section {
  margin: auto;
  margin-left: 5%;
}

button {
  font-family: "Major Mono Display", monospace;
  font-size: 1.5rem;
  background-color: yellow;
  border-color: #000;
  border-width: 4px;
  border-image:linear-gradient(0deg,#00e,40%,#00a 0) 10;
  padding: 5px 10px;
}

.navbutton {
  background-color: #00a !important;
  color: #eee;
}

.soonbutton {
  background-color: #333 !important;
}

.column {
  float: left;
  display: block;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
